body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map_container {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  width: 50%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .toilet{
  position: absolute;

  border-image-width: 10vm;
  width: 5vw;
  height: 5vw;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  justify-content: center;
  background-color: #4f4f4f;
  color: black;
  
  padding: 4px 4px;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.9;
}

#arms {
  top: 40%;
  left: 50%;
}

#walc {
  top: 10%;
  left: 50%;
}

