body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map_container {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  width: 50%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .toilet{
  position: absolute;
  min-height: 23px;
  min-width: 23px;

  border-image-width: 10vm;
  width: 2.5vw;
  height: 2.5vw;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 5%;
  justify-content: center;
  background-color: #4f4f4f;
  color: black;
  border-color: goldenrod;
  
  padding: 4px 4px;
  border-radius: 100px;
  cursor: pointer;
  opacity: 1;
}

#frny {
  top: 25%;
  left: 40%;
}

#pgnw {
  top: 24%;
  left: 75%;
}

#wang {
  top: 13%;
  left: 58%;
}

#hovd {
  top: 43%;
  left: 35%;
}

#ellt {
  top: 47%;
  left: 28%;
}

#haas {
  top: 62%;
  left: 11%;
}

#lwsn {
  top: 47%;
  left: 3%;
}

#ar {
  top: 45%;
  left: 12%;
}

#chas {
  top: 38%;
  left: 22%;
}

#dscb {
  top: 33%;
  left: 29%;
}

#jnsn {
  top: 27%;
  left: 22%;
}

#msee {
  top: 27%;
  left: 55%;
}

#phys {
  top: 15%;
  left: 45%;
}

#rhph {
  top: 22%;
  left: 16%;
}

#push {
  top: 13%;
  left: 15%;
}

#hamp {
  top: 15%;
  left: 30%;
}

#arms {
  top: 6%;
  left: 25%;
}

#walc {
  top: 55%;
  left: 50%;
}

#ston {
  top: 92%;
  left: 25%;
}

#univ {
  top: 83%;
  left: 25%;
}

#schm {
  top: 74%;
  left: 25%;
}

#mthw {
  top: 90%;
  left: 11%;
}

#brng {
  top:78%;
  left: 12%;
}

#math {
  top:69%;
  left: 18%;
}

#cl50 {
  top:68%;
  left: 27%;
}

#prce {
  top:63%;
  left: 27%;
}

#psyc {
  top:59%;
  left: 32%;
}

#sc {
  top:67%;
  left: 36%;
}

#wthr {
  top:67%;
  left: 50%;
}

#brwn {
  top:64%;
  left: 66%;
}

#heav {
  top:70%;
  left: 66%;
}

#stew {
  top:85%;
  left: 55%;
}

#hiks {
  top:93%;
  left: 55%;
}

#pmu {
  top:85%;
  left: 70%;
}

#pmuc {
  top:83%;
  left: 80%;
}

#gris {
  top:68%;
  left: 80%;
}

#uc {
  top:72%;
  left: 88%;
}

#baly {
  top:58%;
  left: 88%;
}

#dudl {
  top:58%;
  left: 73%;
}

#lmbs {
  top:53%;
  left: 68%;
}

#knoy {
  top:50%;
  left: 76%;
}

#potr {
  top:53%;
  left: 60%;
}

#me {
  top:43%;
  left: 55%;
}

#bhee {
  top:37%;
  left: 64%;
}

#mrrt {
  top:93%;
  left: 4%;
}


